* {
  box-sizing: border-box;
}

body {
background-color:#d8e6f3;
}

h1 {
  color: #1f3447;
  text-align:center;
  text-transform: uppercase;
  font-size:170%;
  margin-top:-80px;
}

h2 {
  color: #1f3447;
  text-align:center;
  text-transform: uppercase;
  font-size:130%;
  text-decoration:underline;
  margin-top:-80px;
}

p {
  font-size:24px;
  padding-left: 15px;
}

input::placeholder , textarea::placeholder{
    font-size: 12px;
    opacity: 0.7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
  background-color:#1f3447;
  text-align:center;
  font-size:30px;
  padding:10px;
  position: fixed;
  width: 100%;
  left:0;
  top:0;
  z-index: 1000;
}

header a {
  color:#d8e6f3;
  text-decoration: none;
  margin: 0;
}

header a:hover {
  text-decoration: underline;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

footer {
  display: flex; 
  justify-content: center;
  gap: 60px; 
  align-items: center;
  background-color: #1f3447;
  color: #d8e6f3;
  font-size: 22px;
  padding: 10px; 
  word-spacing: 0.5px;
  width: 100%;
  box-sizing: border-box; 
  left: 0;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  position: fixed;
  bottom: 0px;
}

main a {
  font-size:16px;
  text-decoration: none;
  color:#1f3447;
  display: inline-block;
  margin: 5px 0;
}

html, body {
  height: 100%;
}

main a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  margin-top: 160px;
  margin-bottom: 70px;
}

table {
	width: 90%;
  margin:30px auto;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #1f3447;
  padding: 10px;
  font-size:18px;
}

th {
  background-color: #1f3447;
  color: #d8e6f3;
  text-transform: uppercase;
  font-size:19px;
}

tr:hover {
  background-color: #c9d9ea;
}

form {
  background-color: #ebf2f9;
  max-width: 900px;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 20px;
}
input, select, textarea {
  width: 100%;
  margin: 6px 0;
  padding: 7px;
  background-color:#d8e6f3
}

input[type="submit"] {
  background-color: #1f3447;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color:#507395
}

main p {
  font-size: 20px;
  line-height: 1.8;
}	

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Responsive Design */
@media (max-width: 768px) {
main {
    margin-top: 120px;
  }

header {
  background-color:#1f3447;
  text-align:center;
  font-size:15px;
  padding:10px;
  width:100%;
  left:0;
  top:0;
}

header nav {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2px;
  padding: 0 5px;
  overflow-x: auto;
}

header nav::-webkit-scrollbar {
  display: none;
}

header a {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  font-size: 18px;
  margin: 5px 0;
  padding:2px;
}

header a:hover {
  text-decoration: underline;
}

body {
  padding-top: 90px;
}

table {
  width: 90%;
  font-size: 12px;
  overflow-x: auto;
  display: block;
}

form {
  width: 95%;
  padding: 15px;
}

input, select, textarea {
  font-size: 14px;
}
footer {
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    padding: 10px;
    text-align: center; 
  }
}